gridfm-datakit/
_archiv/
.venv/
venv/
.idea/
.vscode/*.code-workspace
*.ipynb_checkpoints/
*.egg-info/
dist/
build/
site/

data_out/
*.parquet

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
logs/

.DS_Store
Thumbs.db

